<html>
  <head>
    <meta name="viewport" content="width=320; user-scalable=no" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  	<title>Atomic Orchid</title>
	  <meta name="HandheldFriendly" content="true" />
  	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>
  	<script type="text/javascript" src="/game-common.js"></script>
  	
  	<% if request.path =~ /\/game\// %>
              	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
                <script type="text/javascript" src="/web_user.js"></script>
    			<script type="text/javascript" src="/game_user.js"></script>
    			<script type="text/javascript" src="/health_status.js"></script>
    			<script type="text/javascript" src="/location.js"></script>
    			
    			
				
				
    		
  	<% end %>
  	
    <% if request.path =~ /\/replay\// %>
    			<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
				<script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
				<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
				<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    	  
    	  <script type="text/javascript" src="/mapattack-replay.js"></script>
  	<% end %>
  	
  </head>
  <body>
    <%= yield %>
  </body>
</html>