 <div class="row">
              <div class="well well-sm">Unassigned tasks and players</div>
          </div>


          <div class="row">
          <!-- the idle tasks -->
          <div class="col-sm-3" style="width:60;position:relative">
            
          </div> 
          <!-- the idle tasks end-->
          <!-- idle player list -->
          <div class="col-sm-6" style="margin-left:2" >
              <!-- player list -->
              <div 
              class = "card player-card player-draggable player-droppable"  
              ng-repeat = "p in players | filter: filterIdlePlayers" 
              ng-init="initD()" 
              playerId = "{{p.id}}"
              ng-mouseover="focus(0-p.id-1)" 
              ng-mouseout="unFocus(0-p.id-1)" 
              ng-class = "getClass(0-p.id-1)"
              >
                <img ng-src = "{{getPlayerIcon(p.id)}}" > No task
                <span class="glyphicon glyphicon-move corner"></span>
              </div>
          </div>
          <!-- idle player list end -->
          </div>