<!-- Modal -->
<div class="modal fade" id="agentModal" ng-controller="AgentPanelCtrl" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-title">
      <label>Agents</label> 
    </div>
    <div class="modal-content"> 
      <div class="modal-body" >
          <!--<label>Agents</label>
          <input class = "col-sm-5 form-control" type="text" placeholder="Initial">-->
          <label>Scripts</label>
          <select class = "form-control" ng-model = "selected_script" ng-options="script.id as script.name for script in scripts">
          </select>
          <label>Parameters</label>
          <input class = "form-control" type="text" placeholder="parameters" ng-model="par"/>
          <div class = "btn btn-primary" ng-click="execute()" > execute</div>      
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->