<div class="col-sm-6 column drag-container"> 
          <div class = "row " ng-repeat = "a in prev_assignments | filter: pChanged" ng-class="{'flickable':planPending}">

          <div class="col-sm-2 card-fixed task-card" > 
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model = "a.keep"> Keep
              </label>
            </div>
            <div class="col-sm-12 btn btn-sm btn-danger" ng-click="emergencyStop(a)" ng-hide = "true"> stop </div>
          </div > 
					<div class="col-sm-3 card-fixed task-card" 
                ng-class="{'focus':getClass(a.task_id)}" 
                ng-mouseover="focus(a.task_id)"> 
            <img ng-src="{{getTaskIcon(a.task_id)}}" /> 
            {{a.task_id}}
          </div>
					<div class="col-sm-8"  > 
						<div class="row"  >
							<div class="col-sm-7 card-fixed player-card" 
                   ng-class="{'focus':getClass(0-a.player1-1)}"
                   ng-mouseover="focus(0-a.player1-1)"
                 >
								<img ng-src="{{getPlayerIcon(a.player1)}}" /> 

                 <div class = "health"><div style="height:{{getHealth(a.player1)}}"></div></div>
								<div class="btn btn-primary btn-sm" data-toggle="modal" data-target="#msgModal" ng-click = "openMsg(a.player1)">msg</div>
                <span class="label label-default">{{msgCount(a.player1)}}</span>
							</div >
							<div class="card-fixed col-sm-4 player-card"   ng-class="{'attention':rejected(a.response1,a.response2)}">
								{{a.response1}}
							</div >
						</div>
						<div class="row" >
							<div class="col-sm-7 card-fixed player-card" 
                   ng-class="{'focus':getClass(0-a.player2-1)}"
                   ng-mouseover="focus(0-a.player2-1)"
                  >
								<img ng-src="{{getPlayerIcon(a.player2)}}" /> 
                 <div class = "health"><div style="height:{{getHealth(a.player2)}}"></div></div>
								<div class="btn btn-primary btn-sm" data-toggle="modal" ng-click = "openMsg(a.player2)" data-target="#msgModal">msg</div>
                <span class="label label-default">{{msgCount(a.player2)}}</span>
							</div >

							<div class="col-sm-4 card-fixed player-card"   ng-class="{'attention':rejected(a.response1,a.response2)}">
								{{a.response2}}
							</div >
						</div>
					</div>
          
        </div>
  <div class = "row" ng-repeat = "a in prev_assignments | filter: pUnchanged"  >
          <div class="col-sm-2 card-fixed task-card" > 
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model ="a.keep" > Keep
              </label>

            </div>
            <div class="col-sm-12 btn btn-sm btn-danger" ng-click="emergencyStop(a)" ng-hide="true"> stop </div>
          </div > 
					<div class="col-sm-3 card-fixed task-card" 
               ng-class="{'focus':getClass(a.task_id)}"
               ng-mouseover="focus(a.task_id)" > 
            <img ng-src="{{getTaskIcon(a.task_id)}}" /> 
            {{a.task_id}}
          </div>
					<div class="col-sm-8" > 
						<div class="row">
							<div class="col-sm-7 card-fixed player-card" 
                   ng-class="{'focus':getClass(0-a.player1-1)}"
                   ng-mouseover="focus(0-a.player1-1)" >
								<img ng-src="{{getPlayerIcon(a.player1)}}" /> 
               
                 <div class = "health"><div style="height:{{getHealth(a.player1)}}"></div></div>
								<div class="btn btn-primary btn-sm" data-toggle="modal" ng-click = "openMsg(a.player1)" data-target="#msgModal" >msg</div>
                <span class="label label-default">{{msgCount(a.player1)}}</span>
							</div >
							<div class="col-sm-4 card-fixed player-card" ng-class="{'attention':rejected(a.response1,a.response2)}">
								{{a.response1}}
							</div >
						</div>
						<div class="row">
							<div class="col-sm-7 card-fixed player-card" 
                   ng-class="{'focus':getClass(0-a.player2-1)}"
                   ng-mouseover="focus(0-a.player2-1)"
                   >
								<img ng-src="{{getPlayerIcon(a.player2)}}" /> 
                 <div class = "health"><div style="height:{{getHealth(a.player2)}}"></div></div>
								<div class="btn btn-primary btn-sm" data-toggle="modal" ng-click = "openMsg(a.player2)" data-target="#msgModal">msg</div>
                <span class="label label-default">{{msgCount(a.player2)}}</span>
							</div >
							<div class="col-sm-4 card-fixed player-card" ng-class="{'attention':rejected(a.response1,a.response2)}">
								{{a.response2}}
							</div >
						</div>
					</div>
          
        </div>

        <div class="row">
              <div class="well well-sm">Unassigned players</div>
        </div>

        <div class="row">
          <!-- the idle tasks -->
          <div class="col-sm-3" style="width:60;position:relative">
           
          </div> 
          <!-- the idle tasks end-->
          
          <!-- idle player list -->
          <div class="col-sm-5 transparent-5" style="margin-left:2" >
              <!-- player list -->
              <div class = "card-fixed player-card  " playerHolder = "-1" ng-repeat = "p in players | filter: filterPrevIdlePlayers"  
              playerId = "{{p.id}}"  
              ng-class = "{'focus':getClass(0-p.id-1),'card':editMode,'card-fixed':!editMode}"
              ng-mouseover="focus(0-p.id-1)">
                <img ng-src = "{{getPlayerIcon(p.id)}}" > 
                <div class = "health"><div style="height:{{getHealth(p.id)}}"></div></div>
                <div class="btn btn-primary btn-sm" data-toggle="modal" ng-click = "openMsg(p.id)" data-target="#msgModal">msg</div>
                <span class="label label-default">{{msgCount(p.id)}}</span>
              </div>
          </div>
          <!-- idle player list end -->

         
        </div>
			</div>
