<!-- Modal -->
<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content"> 
        <div class="modal-body tab-pane active" id = "login-form">
    
        <div class="form-group" >
        <label>Messages</label>
        
          <textarea class="form-control" cols="10" rows="10"></textarea>
          <input  type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter messages">

          <button ng-click="signup(user.email,user.password,user.passwordConfirm)" type="submit" class="btn btn-default">Send</button>   
        </div><!-- /.form-group signup-form --> 
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->