<!-- Modal -->
<div class="modal fade" ng-controller = "MsgCtrl" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content"> 
        <div class="modal-body tab-pane active" id = "login-form">
    
        <div class="form-group" >
        <label>Messages</label>
        
          <li ng-model = "msgs" class="form-control" style="height:500; overflow:scroll" cols="10" >
            <ul ng-repeat = "m in msgs | filter: filterMsg"> {{m.name}}({{m.player_initials}}):{{m.content}} </ul>

          </li>
          <input  type="text"  ng-enter="sendMsg(msg_field)" ng-model = "msg_field" class="form-control" id="exampleInputEmail1" placeholder="Enter messages">

          <button ng-click="sendMsg(msg_field)"  type="submit" class="btn btn-default">Send</button>   
        </div><!-- /.form-group signup-form --> 
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->