
<div id="test" style="position:absolute;width:20%;height:100%;background-color:rgb(255,0,0);right:0;top:0" >
</div>


<script>
	var a =  document.getElementById("test");
	alert(a.height);
	a.height="50%";
	
	
</script>