<h1>SYSTEM CONSOLE</h1>



<style>
  table td {
    padding-left: 10px;
    padding-bottom: 5px;
  }
</style>
<script>
    var interval_id;
    function sendMassage(){
	//alert($("#massage").val());
    	$.ajax({ 
		url: "massage",
		type: "POST",
		data: {"content": $('#massage').val(), "id":0, "player_id":[0,1,2,3,4,5,6,7,8,9] },
		dataType: "json", 
		success: function(data) {
			$('#massage').val("");
            	}        	
    	});
    }

    function sendTask(){
	//alert($("#task").val());
    	$.ajax({ 
		url: "task",
		type: "POST",
		data: {"description": $('#task').val(), "id":0, "player_id":[0,1,2,3,4,5,6,7,8,9], "latitude":$('#task_lat').val(),
			"longitude":$('#task_long').val() },
		dataType: "json"}); 
    }

    function ready_check(){
	//alert($("#massage").val());
    	$.ajax({ 
		url: "ready_check",
		type: "GET",
		dataType: "json", 
		success: function(data) {
			$('#player_list').html("players:<br><br>");
			//alert(JSON.stringify(data));
			$(data.players).each(function(i,player){
				$('#player_list').append(player.name+"</br>");
			});
			
			interval_id=setInterval(pull_status,3000);

            	}        	
    	});
    }

     function pull_status(){
		$.ajax({ 
		url: "ready_status",
		type: "GET",
		dataType: "json", 
		success: function(data) {
			$('#player_list').html("players:<br><br>");
			var status="";
			
			$(data.players).each(function(i,player){
				if(player.status==-1){
					status="pending";
				}
				else if(player.status==0){
					status="not ready";
				}
				else if(player.status==1){
					status="ready";
				}
				$('#player_list').append(player.name+" "+status+"</br>");
			});

            	}        	
    	});


     }
</script>

  <table>
    <tr>
      <th>Acion</th>
      <th>detail</th>
      
    </tr>
      <tr>
	<td>text message</td>
        <td><input type=text name='massage' id='massage' ><input onclick="sendMassage();" type=button name='send' id='massage1' value="send"></td>
      </tr>
    <tr> 
	<td>task</td>
        <td><input type=text name='task' id='task' ></td>
        <td><input type=text name='task_lat' id='task_lat' ></td>
        <td><input type=text name='task_long' id='task_long' ><input onclick="sendTask();" type=button name='send' id='task1' value="send"></td>
      </tr>
    <tr> 
	<td>ready check</td>
	<td><input type=button name='check' onclick="ready_check();" value="check"><br><div id="player_list" name="player_list">players:</div></td>
    </tr>
  </table>

<br><br>

