<h1>Create Game</h1>
<p><strong>README: </strong>Type in the city/town and hit enter and wait for the map to reload.</p>

<%= partial :'admin/games/_address' %>

<form action="/admin/games" method="POST">
  <%= partial :'admin/games/_form' %>
  <input value="Create" type="submit">
</form>