 
/* CSS Document */

 
#chat-wrapper {
	
	z-index: 2;
	opacity: 0.9;
	background:#E1E1E1;
	border:1px solid #ACD8F0; }

 

 
#chatbox {
	text-align:left;
	background:#fff;
	height:30%;
	border:1px solid #ACD8F0;
	overflow:scroll }
 
#usermsg {
	width:300px;
	border:1px solid #ACD8F0; }
 
#submit { width: 60px; }
 
.error { color: #ff0000; }
 
#menu { padding:12.5px 25px 12.5px 25px; }
 
.welcome { float:left; }
 
.logout { float:right; }
 
.msgln { margin:0 0 2px 0; }
 
 
