
html, body {
	height: 100%;
	width: 100%;
	 overflow: hidden;
	 font-size: 11;
}

#map {
	height:100%;
}

.container {
	
	background-color:#BFE8E8;
	height:100%;
}

.container .drag-container {
	padding:3px;
	height:100%;
	overflow: scroll;
}


.card {
	background-color: #FFFFFF;
	margin: 1px;
	box-shadow: 2px 2px 2px;
	cursor: move;
	position: relative;
}

.card-fixed{
	background-color: #FFFFFF;
	margin: 1px;
	cursor: move;
	position: relative;
}


.player-card {
	height:35px;
	
}

.task-placeholder {
	width:60;
}

.task-card {
	height: 71;
	width:50;
}


div[class*="col-"] {
       padding: 0; 
}

div[class*="row"] {
       margin: 0; 
}

.corner {
	position:absolute;
	right:0;
	bottom:0;
}

.bottom-right{
	position:absolute;
	bottom:0;
	margin-left: 50%
}

.bottom-left {
	position:fixed;
	bottom:0;
}

.transparent-5 {
	opacity: 0.5;
}

.focus {
	border: solid red 2px !important;
}

.big-btn{
	height:30px !important;
}

.health{
	background-color: green;
	width:5;
	height:100%;
	float:left;
}

.health div{
	background-color: black;
	width:5;
	height:80%;
	float:left;
}
