
/*login page */

#login-embedded { width: 400px; position: fixed; top: 50%; left: 50%; padding: 0; margin: -200px; z-index: 9998; height: 300px; background: #736F6E; border: 5px solid #525e67; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow: #000 0 0 20px; box-shadow: #000 0 0 20px; }

.label{
    position:relative;
    left:100;
    
}







        /*the basics, and works for FF*/
#LoadingDiv{
	margin:0px 0px 0px 0px;
    position:absolute;
    left:0px;
    top:0px;
	opacity:0.4;
	height: 100%;
	z-index:9998;
	padding-top:200px;
	padding-left:50px;
	width:100%;
	clear:none;
	/*background:url(/img/transbg.png);*/
	background-color:#666666;
	border:0px solid #000000;
}
/*IE will need an 'adjustment'*/
* html #LoadingDiv{
     position: absolute;
     height: expression(document.body.scrollHeight &gt; document.body.offsetHeight ? document.body.scrollHeight :  document.body.offsetHeight + 'px');
}
/*login page end */


@font-face {
	font-family: 'DroidSansRegular';
	src: url('fonts/DroidSans-webfont.eot');
	src: url('fonts/DroidSans-webfont.eot?#iefix') format('eot'),
			 url('fonts/DroidSans-webfont.woff') format('woff'),
			 url('fonts/DroidSans-webfont.ttf') format('truetype'),
			 url('fonts/DroidSans-webfont.svg#webfontw7zqO19G') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DroidSansBold';
	src: url('fonts/DroidSans-Bold-webfont.eot');
	src: url('fonts/DroidSans-Bold-webfont.eot?#iefix') format('eot'),
			 url('fonts/DroidSans-Bold-webfont.woff') format('woff'),
			 url('fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
			 url('fonts/DroidSans-Bold-webfont.svg#webfontSOhoM6aS') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('fonts/League_Gothic-webfont.eot');
	src: url('fonts/League_Gothic-webfont.eot?#iefix') format('eot'),
			 url('fonts/League_Gothic-webfont.woff') format('woff'),
			 url('fonts/League_Gothic-webfont.ttf') format('truetype'),
			 url('fonts/League_Gothic-webfont.svg#webfontFHzvtkso') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'DroidSansRegular', Verdana, Arial, sans-serif;
	background: url('img/home-bkg.png') repeat-x top #eee6dc;
}

html, body {
	height: 100%;
	width: 100%;
}

#wrapper {
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

#map {
	height: 100%;
	background: white;
	z-index: 1;
}


#wedget-panel-1 {
	height:100%;
}


#active-player-wrapper {
	height:50%;
}

#agent-wrapper {
	height:20%;
	background-color: green
}



#test-panel {	
	background: blue;
	z-index: 2;
	width: 450px;
	background-color: #E1E1E1;
	opacity: 0.9;
}

#scoreboard-wrapper {
	background: url('img/white-bg.png');
	position: absolute;
	z-index: 9999;
	width: 300;
	left: 50%;
	margin: 0 0 0 -150px;
	padding:0 0 4px 0;
	opacity: 0.9;
	/* top: 45px; should be 45 when the top bar is displayed */
	top: 0; 
	font-size: 40px;
}



#drop-cargo {
	background: url('img/gameboard-sprite.png') no-repeat -128px 0px;
	width: 96px;
	height: 60px;
	color: #E8A9A7;
	padding: 32px 28px 3px 4px;
	text-align: center;
	position: absolute;
	top:58px;
	left: -45px;
	text-shadow: 0 -1px 0px #8c2824;
}

#scoreboard:before {
	content: '';
	display: block;
	background: url('img/gameboard-sprite.png') no-repeat -103px -338px;
	width:155px;
	height: 10px;
	position: relative;
	z-index: 10px;
	margin: 0px auto;
	top:110px;
}

#join-game {
	background: url('img/green-pattern.png');
	padding: .5em;
	font-weight: 700;
	text-shadow:0 -1px 0px #ffffff;
	color: #4f5642;
	text-align: center;
	display: block;
	margin: 22px auto;
	width: 100px;
	border-bottom:2px solid #4f5642;
	border-right:2px solid #4f5642;
	border-left:2px solid #4f5642;
}

#logout {
	background: url('img/gameboard-sprite.png') no-repeat 0px 0px;
	width: 96px;
	height: 60px;
	color: #9bc1ef;
	padding: 32px 4px 3px 28px;
	text-align: center;
	position: absolute;
	top:58px;
	right: -45px;
	text-shadow: 0 -1px 0px #183c6a;
}

h1, h2,h3 {
	font-family: 'LeagueGothicRegular';
	line-height: 1em;
	text-transform: uppercase;
}

h3 {
	
    font-size: 30px;
}

h1 {
	font-size: 60px;
	text-align: center;
}

h1 a {
	color: #444;
}

h5.tagline {
	font-family: Georgia, Palatine, Baskerville, sans-serif;
	text-align: center;
	font-weight:500;
	font-style: italic;
}

h2 {
	font-size: 56px;
	text-align: center;
	height: 87px;
	line-height: 67px;
	position: relative;
}

/*********************
Top/Bottom Bars
*********************/
	
nav, footer {
	background: #353535;
	position: absolute;
	z-index: 3;
	width: 100%;
	color:#ffffff;
}

#splash footer {
	position: relative;
}

nav a {
	color:#ffffff;
}

nav ul li {
	float: left;
	margin: 0 1em;
}

nav {
	display: none;
	height: 45px;
	border-bottom: 1px solid #101010;
	line-height: 45px;
	font-family: 'DroidSansBold';
	font-size: 16px;
}

footer {
	bottom:0px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	border-top: 1px solid #101010;
	color: #999;
}

footer p {
	padding:0 20px;
}

footer a {
	color: #aaa;
	text-decoration: underline;
}

/*********************
Common Team Styles
*********************/

.team-players {
	list-style: none;
	margin: -20px 0 0 0;
}

.team-players img {
	width: 42px;
	height: 42px;
	background: black;
	position: relative;
}

.team-players li {
	clear: both;
	height: 58px;
	display: block;
	margin: 15px 0 20px 0;
}

.team-players .points {
	font-size: 30px;
	font-family: 'DroidSansBold';
	line-height: 30px;
}

.team-players li:after {
		content: "."; display: block; height: 0; clear: both; visibility: hidden; 
}

.team-players h3 {
	font-size: 16px;
	margin:-10px 0 0 0;
	width: 110px;
	overflow: hidden;
}




/*********************
Small Screen/Mobile Styles
*********************/
	/* based on */
	/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://creativecommons.org/licenses/MIT/	*/

/* Tablet/Small Screen Layout */

@media only screen and (min-width: 769px) and (max-width: 1080px) {

	#red-score, #blue-score {
		display: none;
	}
	
	#red-team-wrapper, #blue-team-wrapper {
		top:148px;
	}

}

/* Mobile Layout */
@media only screen and (max-width: 768px) {

	#red-score, #blue-score, #truck-score{
		display: block;
	}

	#red-team-wrapper, #blue-team-wrapper, #truck-team-wrapper {
		display:none;
	}
	
	#scoreboard-wrapper {
		background: url('img/white-bg.png');
		position: absolute;
		z-index: 2;
		width: 246px;
		left: 50%;
		margin: 0 0 0 -123px;
		padding:0 0 4px 0;
		top: 0px;
	}
	
	#scoreboard {
		background: #e1e1e1;
		height: 58px;
		width:238px;
		margin: 0 auto;
	}
	
	#red-score {
		background: url('img/gameboard-sprite.png') no-repeat -96px 0px;
		background-size: 194px 261px;
		width: 72px;
		height: 45px;
		color: #E8A9A7;
		padding: 26px 21px 2px 4px;
		text-align: center;
		position: absolute;
		top:-18px;
		left: -41px;
		text-shadow: 0 -1px 0px #8c2824;
		line-height: 45px;
	}
	
	#scoreboard:before {
		content: '';
		display: none;
		width:155px;
		height: 10px;
		position: relative;
		z-index: 10px;
		margin: 0px auto;
		top:57px;
	}
	
	#join-game {
		background: url('img/green-pattern.png');
		padding: .5em .15em;
		font-weight: 700;
		text-shadow:0 -1px 0px #ffffff;
		color: #4f5642;
		text-align: center;
		display: block;
		margin: 6px auto;
		width: 100px;
		border-bottom:2px solid #4f5642;
		border-right:2px solid #4f5642;
		border-left:2px solid #4f5642;
		font-size: 12px;
		border-top:2px solid #4f5642;
	}
	
	#blue-score {
		background: url('img/gameboard-sprite.png') no-repeat 0px 0px;
		background-size: 194px 261px;
		width: 72px;
		height: 45px;
		color: #9bc1ef;
		padding: 26px 1px 2px 23px;
		text-align: center;
		position: absolute;
		top:-18px;
		right: -39px;
		text-shadow: 0 -1px 0px #183c6a;
		line-height: 45px;
	
	}
    
    #truck-score {
		background: url('img/gameboard-sprite.png') no-repeat 0px 0px;
		background-size: 194px 261px;
		width: 72px;
		height: 45px;
		color: #9bc1ef;
		padding: 26px 1px 2px 23px;
		text-align: center;
		position: absolute;
		top:-18px;
		right: -39px;
		text-shadow: 0 -1px 0px #183c6a;
		line-height: 45px;
	
	}
	
	h5.tagline {
		display: none;
	}
	
	h2 {
		font-size: 38px;
	}
	
	h1 {
		font-size: 32px;
		padding:9px;
	}
	
	    
	nav, footer {
		display: none;
	}
}

/*********************
Home Page
*********************/
#splash input.contact {
	border: 1px #888 solid;
	width: 220px;
	font-size: 14pt;
}
#splash textarea {
	font-size: 13pt;
}



/*********************
Player scores for the mobile devices
*********************/
#player-info {
	position: absolute;
	z-index: 2;
	bottom: 0; 
	width: 100%;
}
#player-info h3 {
	margin: 0;
}
#player-info .message {
	padding: 8px 4px;
	width: 140px;
	height: 20px;
	float: right;
	text-align: center;
}
#player-info.blink .message {
	background: #F9F362;
}
#player-info #player-score {
	float: left;
}

#player-info .team-red {
	background: #88332B;
	width: 140px;
	height: 20px;
	color: #E8A9A7;
	padding: 8px 4px;
	text-align: center;
	text-shadow: 0 -1px 0px #8c2824;
}
#player-info .team-blue {
	background: #213F6A;
	width: 140px;
	height: 20px;
	color: #9bc1ef;
	padding: 8px 4px;
	text-align: center;
	text-shadow: 0 -1px 0px #183c6a;
}
